<h1>Add New Location</h1>

<%= form_with model: @location, url: admin_locations_path do |form| %>
  <%= render "form", location: @location %>
  <%= form.submit "Create Location", class: "btn btn-primary mt-3" %>
<% end %>

