<h1>Your Favorite Locations</h1>

<% if @favorites.any? %>
  <ul>
    <% @favorites.each do |favorite| %>
      <li>
        <strong><%= favorite.location.name %></strong> - <%= favorite.location.address %>
        <%= link_to 'View Location', location_path(favorite.location), class: 'btn btn-info btn-sm' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no favorite locations yet.</p>
<% end %>
