<h1>Add a New Attribute</h1>
<p class="text-muted">Please fill out the form below to create a new attribute.</p>

<div class="mt-4">
  <%= link_to "Back to attributes", attributes_path, class: "btn btn-secondary" %>
</div>

<br>

<div>
  <%= link_to "Back to attributes", attributes_path %>
</div>
