<div id="<%= dom_id location_attribute %>">
  <p>
    <strong>Location:</strong>
    <%= location_attribute.location_id %>
  </p>

  <p>
    <strong>Attribute:</strong>
    <%= location_attribute.attribute_id %>
  </p>

</div>
