<h1>Editing location attribute</h1>

<%= render "form", location_attribute: @location_attribute %>

<br>

<div>
  <%= link_to "Show this location attribute", @location_attribute %> |
  <%= link_to "Back to location attributes", location_attributes_path %>
</div>
