/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: 1px solid transparent;
}

.btn-primary:hover {
  background-color: #0056b3;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: 1px solid transparent;
}

.btn-secondary:hover {
  background-color: #5a6268;
  color: #fff;
}

/* Navigation Container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* User Actions */
.user-actions {
  margin-left: auto; /* Push logout button to the right */
}

/* Admin Links */
.admin-links {
  margin-top: 10px;
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  padding: 20px;
}

.container {
  margin-top: 50px;
}
