<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= location.name %></h5>
    <p class="card-text"><strong>Description:</strong> <%= truncate(location.description, length: 100) %></p>
    <%= link_to "View Details", location_path(location), class: "btn btn-primary" %>
  </div>
</div>
