<div class="col-md-4">
  <div class="card mb-4">
    <div class="card-body">
      <h5 id="location-title-<%= location.id %>" class="card-title"><%= location.name %></h5>
      <p class="card-text">
        <strong>Description:</strong> <%= location.description %>
      </p>
      <%= link_to "View Location", location_path(location), class: "btn btn-info" %>
    </div>
  </div>
</div>
