<h1>Locations</h1>

<div class="row">
  <% @locations.each do |location| %>
    <%= render partial: 'locations/location_card', locals: { location: location } %>
  <% end %>
</div>

<%= link_to "New location", new_location_path %>
